
@font-face{
	font-family:'Lydian-Bold-Italic-BT';
	src:url("fonts/Lydian-Bold-Italic-BT.eot");
	src:url("fonts/Lydian-Bold-Italic-BT.eot?#iefix") format("embedded-opentype"),
		url("fonts/Lydian-Bold-Italic-BT.woff") format("woff"),
		url("fonts/Lydian-Bold-Italic-BT.ttf") format("truetype"),
		url("fonts/Lydian-Bold-Italic-BT.svg#SerifaLT-Roman") format("svg");
	font-weight:normal;
	font-style:normal;
}
